@tailwind base;
@tailwind components;
@tailwind utilities;


#dropdown li a,
#dropdown li a:hover,
#dropdown li a:active {
  background-color: transparent !important;
}

.menu {
  flex-wrap: nowrap!important;
}
.menuButton:focus {
  background-color: hsl(var(--sf) / var(--tw-bg-opacity)) !important;
  color: white !important;
}